body{
    background-color: #212121;
    color:#fff;
}
.clock{
    display: flex;
    flex-direction:column;
    text-align: center;
    justify-content: center;
    height:100vh;
}
#time{
    padding:20px 50px;
    margin:10px 30px;
    font-size: 40px;
    border-radius: 10px;
    background-color: orange;
}